@model JF.Cloudmarks.Modules.ViewModels.Manage.ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
}

<h2 class="ui header">
	<i class="lock icon"></i>
	<div class="content">
		@ViewBag.Title
	</div>
</h2>

<div class="ui segment">
	@using ( Html.BeginForm( "ChangePassword" , "Manage" , FormMethod.Post , new {@class = "ui form"} ) ) {
		@Html.AntiForgeryToken()

		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				@Html.PasswordFor( m => m.OldPassword , new {placeholder = "Current Password"} )
			</div>
		</div>

		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				@Html.PasswordFor( m => m.NewPassword , new {placeholder = "Password"} )
			</div>
		</div>

		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				@Html.PasswordFor( m => m.ConfirmPassword , new {placeholder = "Confirm Password"} )
			</div>
		</div>

		<button type="submit" class="ui fluid large submit button">Change password</button>
	}
</div>