@model JF.Cloudmarks.Modules.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Account Settings";
}

<h2 class="ui header">
	<i class="settings icon"></i>
	<div class="content">
		@ViewBag.Title
		<div class="sub header">Manage your account settings</div>
	</div>
</h2>

@if ( !string.IsNullOrEmpty( ViewBag.StatusMessage ) ) {
	<div class="ui positive attached message">
		<p>@ViewBag.StatusMessage</p>
	</div>
}

<table class="ui celled table">
	<tbody>
		<tr>
			<td>
				<h4 class="ui image header">
					<i class="ui mini rounded lock icon"></i>
					<div class="content">
						Password
					</div>
				</h4>
			</td>
			<td>
				@if ( Model.HasPassword ) {
					@Html.ActionLink( "Change your password" , "ChangePassword" )
				} else {
					@Html.ActionLink( "Create" , "SetPassword" )
				}
			</td>
		</tr>
		<tr>
			<td>
				<h4 class="ui image header">
					<i class="ui mini rounded user icon"></i>
					<div class="content">
						External Logins
					</div>
				</h4>
			</td>
			<td>
				@Model.Logins.Count [
				@Html.ActionLink( "Manage" , "ManageLogins" ) ]
			</td>
		</tr>
		@*<tr>
			<td>
				<h4 class="ui image header">
					<i class="ui mini rounded phone icon"></i>
					<div class="content">
						Phone Number
					</div>
				</h4>
			</td>
			<td>
				@(Model.PhoneNumber ?? "None") [
				@if ( Model.PhoneNumber != null ) {
					@Html.ActionLink( "Change" , "AddPhoneNumber" )
					@: &nbsp;|&nbsp;
					@Html.ActionLink( "Remove" , "RemovePhoneNumber" )
				} else {
					@Html.ActionLink( "Add" , "AddPhoneNumber" )
				}
				]
			</td>
		</tr>
		<tr>
			<td>
				<h4 class="ui image header">
					<i class="ui mini rounded protect icon"></i>
					<div class="content">
						Two-Factor Authentication
						<div class="sub header">
							See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
						</div>
					</div>
				</h4>
			</td>
			<td>
				@if ( Model.TwoFactor ) {
					using ( Html.BeginForm( "DisableTwoFactorAuthentication" , "Manage" , FormMethod.Post , new { @class = "form-horizontal" , role = "form" } ) ) {
						@Html.AntiForgeryToken()
						<text>Enabled
							<input type="submit" value="Disable" class="btn btn-link" />
						</text>
					}
				} else {
					using ( Html.BeginForm( "EnableTwoFactorAuthentication" , "Manage" , FormMethod.Post , new { @class = "form-horizontal" , role = "form" } ) ) {
						@Html.AntiForgeryToken()
						<text>Disabled
							<input type="submit" value="Enable" class="btn btn-link" />
						</text>
					}
				}
			</td>
		</tr>*@
	</tbody>
</table>
