@model JF.Cloudmarks.Modules.ViewModels.Bookmark.Import
@{
	ViewBag.Title = "Bookmarks Import";
}

@section scripts {
	<script>
		window.upload = new Site.Bookmarks.Import.Upload($(".ui.form"), $(".ui.progress"), $(".ui.dimmer"));
	</script>
}

<h2 class="ui header">
	<i class="remove bookmark icon"></i>
	<div class="content">
		@ViewBag.Title
		<div class="sub header">Import bookmarks</div>
	</div>
</h2>

<div class="ui secondary large pointing menu">
	<a class="item" href="@Url.Action( "Index" , "Bookmarks" )">
		<i class="sitemap icon"></i>
		View
	</a>
	<a class="item active" href="@Url.Action( "Import" , "Bookmarks" )">
		<i class="cloud upload icon"></i>
		Import
	</a>
	<a class="item" href="@Url.Action( "Export" , "Bookmarks" )">
		<i class="cloud download icon"></i>
		Export
	</a>
	<div class="right menu">
		<a class="item" href="@Url.Action( "Stash" , "Bookmarks" )">
			@Html.Action( "StashLink" )
		</a>
		<a class="item" href="@Url.Action( "RecycleBin" , "Bookmarks" )">
			@Html.Action( "RecycleLink" )
		</a>
	</div>
</div>

<div class="ui three attached steps">
	<div class="active step">
		<i class="cloud upload icon"></i>
		<div class="content">
			<div class="title">Upload</div>
			<div class="description">Choose your bookmarks file to import</div>
		</div>
	</div>
	<div class="disabled step">
		<i class="edit icon"></i>
		<div class="content">
			<div class="title">Edit</div>
			<div class="description">Choose what and how you want to import</div>
		</div>
	</div>
	<div class="disabled step">
		<i class="check icon"></i>
		<div class="content">
			<div class="title">Import complete</div>
			<div class="description">Your bookmarks are ready to sync</div>
		</div>
	</div>
</div>

<div class="ui attached segment">
	<div class="ui inverted dimmer" data-loader>
		<div class="ui indeterminate small text loader">Processing data...</div>
	</div>

	@using ( Html.BeginForm( "Import" , "Bookmarks" , FormMethod.Post , new {@class = "ui form" , enctype = "multipart/form-data"} ) ) {
		@Html.AntiForgeryToken()

		<div class="field">
			<div class="ui left icon input">
				<i class="file icon"></i>
				<input type="file" name="File" placeholder="File to import"/>
			</div>
		</div>

		<button type="submit" class="ui large submit button">Upload</button>
	}

	<div class="ui indicating progress active transition hidden" data-percent="0">
		<div class="bar" style="transition-duration: 300ms; width: 0;"></div>
		<div class="label">0% uploaded</div>
	</div>
</div>
