@model List<JF.Cloudmarks.Modules.Models.Directory>
@{
	ViewBag.Title = "Recycle bin";
}

<h2 class="ui header">
	<i class="remove bookmark icon"></i>
	<div class="content">
		@ViewBag.Title
		<div class="sub header">Manage your deleted bookmarks</div>
	</div>
</h2>

<div class="ui secondary large pointing menu">
	<a class="item" href="@Url.Action( "Index" , "Bookmarks" )">
		<i class="sitemap icon"></i>
		View
	</a>
	<a class="item" href="@Url.Action( "Import" , "Bookmarks" )">
		<i class="cloud upload icon"></i>
		Import
	</a>
	<a class="item" href="@Url.Action( "Export" , "Bookmarks" )">
		<i class="cloud download icon"></i>
		Export
	</a>
	<div class="right menu">
		<a class="item" href="@Url.Action( "Stash" , "Bookmarks" )">
			@Html.Action( "StashLink" )
		</a>
		<a class="active item" href="@Url.Action( "RecycleBin" , "Bookmarks" )">
			<i class="recycle icon"></i>
			Recycle bin (@Model.Count)
		</a>
	</div>
</div>

@if ( Model.Any() ) {

	<table class="ui celled striped table">
		<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
				Actions
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach ( var directory in Model ) {
			<tr>
				<td>
					@directory.LastUpdate.ToString( "D" )
				</td>
				<td>
					<a href="@Url.Action( "ImportStepTwo" , new {id = directory.Id} )" class="ui small primary labeled icon button"><i class="edit icon"></i> restore</a>
					<a href="@Url.Action( "DeletePermanently" , new {id = directory.Id , source = "recycle-bin"} )" class="ui small negative labeled icon button"><i class="erase icon"></i> delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
} else {
	<div class="ui segment">
		<p>You currently have no items in the recycle bin.</p>
	</div>
}