@model JF.Cloudmarks.Modules.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
	ViewBag.Title = $"Associate your {ViewBag.LoginProvider} account";
	Layout = "~/Views/Shared/_LayoutUnauthorized.cshtml";
}

<div class="ui text container">
	<h2 class="ui header">
		@ViewBag.Title
	</h2>
	<div class="ui middle aligned very relaxed stackable grid">
		<div class="row">
			<div class="column">
				<div class="ui stacked segment">
					@using ( Html.BeginForm( "ExternalLoginConfirmation" , "Account" , new {ViewBag.ReturnUrl} , FormMethod.Post , new {@class = "ui large form" } ) ) {
						@Html.AntiForgeryToken()

						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								@Html.TextBoxFor( m => m.Username , new { placeholder = "Username" } )
							</div>
						</div>

						<div class="field">
							<div class="ui left icon input">
								<i class="mail icon"></i>
								@Html.TextBoxFor( m => m.Email , new { placeholder = "E-mail address" } )
							</div>
						</div>

						<p class="text-info">
							You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
							Please enter a user name for this site below and click the Register button to finish
							logging in.
						</p>
					
						<button type="submit" class="ui fluid large submit button">Register</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>