@using JF.Cloudmarks.Modules.ViewModels.Account
@model JF.Cloudmarks.Modules.ViewModels.Account.LoginViewModel
@{
	ViewBag.Title = "Log-in to your account";
	Layout = "~/Views/Shared/_LayoutUnauthorized.cshtml";
}


<h2 class="ui header">
	@ViewBag.Title
</h2>
<div class="ui two column middle aligned very relaxed stackable grid">
	<div class="row">
		<div class="column">
			<div class="ui stacked segment">
				@using ( Html.BeginForm( "Login" , "Account" , new {ViewBag.ReturnUrl} , FormMethod.Post , new {@class = "ui large form"} ) ) {
					@Html.AntiForgeryToken()

					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							@Html.TextBoxFor( m => m.Username , new {placeholder = "Username" } )
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							@Html.PasswordFor( m => m.Password , new {placeholder = "Password"} )
						</div>
					</div>

					<div class="field">
						<div class="ui checkbox">
							@Html.CheckBoxFor( m => m.RememberMe , new {@class = "hidden"} )
							@Html.LabelFor( m => m.RememberMe )
						</div>
					</div>

					<button type="submit" class="ui fluid large submit button">Login</button>
				}
			</div>

			<div class="ui message">
				<p>
					@Html.ActionLink( "Register as a new user" , "Register" )
				</p>
			</div>
		</div>

		<div class="ui vertical divider">
			Or
		</div>

		<div class="ui middle aligned column">
			@Html.Partial( "_ExternalLoginsListPartial" , new ExternalLoginListViewModel {
				ReturnUrl = ViewBag.ReturnUrl
			} )
		</div>
	</div>
</div>