@using JF.Cloudmarks.Modules.ViewModels.Account
@model JF.Cloudmarks.Modules.ViewModels.Account.RegisterViewModel
@{
	ViewBag.Title = "Create a new account";
	Layout = "~/Views/Shared/_LayoutUnauthorized.cshtml";
}

<h2 class="ui header">
	@ViewBag.Title
</h2>
<div class="ui two column middle aligned very relaxed stackable grid">
	<div class="row">
		<div class="column">
			<div class="ui stacked segment">
				@using ( Html.BeginForm( "Register" , "Account" , FormMethod.Post , new {@class = "ui large form" } ) ) {
					@Html.AntiForgeryToken()

					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							@Html.TextBoxFor( m => m.Username , new {placeholder = "Username" } )
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="mail icon"></i>
							@Html.TextBoxFor( m => m.Email , new {placeholder = "E-mail address"} )
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							@Html.PasswordFor( m => m.Password , new {placeholder = "Password"} )
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							@Html.PasswordFor( m => m.ConfirmPassword , new {placeholder = "Confirm Password" } )
						</div>
					</div>

					<button type="submit" class="ui fluid large submit button">Register</button>
				}
			</div>

			<div class="ui message">
				<p>
					@Html.ActionLink( "Already registered? Log in" , "Login" )
				</p>
			</div>
		</div>

		<div class="ui vertical divider">
			Or
		</div>

		<div class="ui middle aligned column">
			@Html.Partial( "_ExternalLoginsListPartial" , new ExternalLoginListViewModel {
				ReturnUrl = ViewBag.ReturnUrl
			} )
		</div>
	</div>
</div>