<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@ViewBag.Title - Cloudmarks</title>
	@Styles.Render( "~/bundles/styles" )
</head>
<body>
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
	<div class="container">
		@Html.ActionLink( "Cloudmarks" , "Index" , "Home" , new {area = ""} , new {@class = "navbar-brand"} )
		<ul class="nav navbar-nav">
			<li class="nav-item">
				@Html.ActionLink( "Home" , "Index" , "Home" , new {area = ""} , new {@class = "nav-link"} )
			</li>
		</ul>

		@Html.Partial( "_LoginPartial" )
	</div>
</nav>

<div class="container">
	@RenderBody()
</div>

@Scripts.Render( "~/bundles/scripts" )
@RenderSection( "scripts" , false )
</body>
</html>