<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@ViewBag.Title - Cloudmarks</title>
	@Styles.Render( "~/bundles/styles" )
</head>
<body>
<nav class="ui top fixed menu">
	<div class="ui container">
		<a href="@Url.Action( "Index" , "Home" )" class="item">
			<img src="/Content/img/theuntitled-128.png">
		</a>
		@Html.ActionLink( "Home" , "Index" , "Home" , new { area = "" } , new { @class = "item" } )

		@Html.Partial( "_LoginPartial" )
	</div>
</nav>

<div class="ui container authorized">
	@RenderBody()
</div>

@Scripts.Render( "~/bundles/scripts" )
@RenderSection( "scripts" , false )
</body>
</html>